body {
	font-family: arial;
	font-size: 16px;
	margin: 0;
}

.action_btn {
	width: 100%;
}

#button_bar td {
	width: 50%;
}

#file_selector {
	display: none;
}

#content {
	display: table;
	height: 100%;
}

#sidebar {
	display: table-cell;
	padding: 5px;
	width: 250px;
	max-width: 250px;
	min-width: 250px;
}

#main {
	display: table-cell;
	width: 100%;
}

#regex_list {
	table-layout: fixed;
}

.checktd {
	width: 20px;
}

.ertd {
	width: 220px;
	white-space: normal;
	word-wrap: break-word;
}

#regex_add {
	width: inherit;
	margin-bottom: 5px;
}

#add_btn {
	float: right;
}

.input-wrapper {
	overflow: hidden;
	padding-right: .5em;
}

#regex {
	width: 100%;
	padding-left: 2px;
}

#sidebar {
	border-right: 1px solid black;
	vertical-align: top;
}

#file_buttons {
	margin-bottom: 5px;
	text-align: center;
}

#regex_list {
	white-space: pre;
	width: 100%;
}

#regex_list td:last-child, #button_bar {
	text-align: center;
}

#button_bar table {
	text-align: center;
	width: 100%;
}

.automaton {
	display: inline-table;
	margin-right: 20px;
	table-layout: fixed;
}

.automaton td, .automaton th {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.automaton th {
	background-color: #DDD;
}

.automaton .accepting_state {
	vertical-align: sub;
}